.list-header Products
.categories{:align=>'center'}=link_to 'Categories',categories_path
%table
  %tr
    %th Category
    %th Title
    %th Price
    %th Description
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.category.name
      %td= product.title
      %td= product.price
      %td= truncate(product.description,:length=>30)
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Product', new_product_path
